<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxw.springbootinit.mapper.AggregatedSearchMapper">

    <resultMap id="BaseResultMap" type="com.bxw.springbootinit.model.entity.AggregatedSearch">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="aggregatedTitleId" column="aggregatedTitleId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,
        content,type,aggregatedTitleId
        createTime,updateTime
    </sql>

    <insert id="saveAggregatedSearchList">
        INSERT INTO aggregated_search (id,title,content,type,aggregatedTitleId)
        VALUES
        <foreach collection="searchList" item="search" separator=",">
            (
            #{search.id},#{search.title},
             #{search.content},#{search.type},#{search.aggregatedTitleId}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        content = VALUES(content)
    </insert>
</mapper>
