<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxw.springbootinit.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.bxw.springbootinit.model.entity.Video">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="sourceUrl" column="sourceUrl" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="cover" column="cover" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,url,sourceUrl,
        cover,createTime,updateTime
    </sql>

    <insert id="saveVideo">
        INSERT INTO video (id, title, url, sourceUrl, cover)
        VALUES
        <foreach collection="searchList" item="search" separator=",">
            (
            #{search.id},#{search.title},#{search.url},#{search.sourceUrl},
            #{search.cover}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        url = VALUES(url),
        sourceUrl = VALUES(sourceUrl),
        cover = VALUES(cover)
    </insert>
</mapper>
